.container__titulo {
  padding: 0px 10vw;
}

.container__titulo h1 {
  font-size: 2rem;
  color: #4ecca4;
}

@media only screen and (min-width:768px) and (max-width:1440px){
  .container__titulo {
    padding: 0px 15vw;
  }
}

@media only screen and (min-width:1440px){
  .container__titulo {
    padding: 0 20vw;
  }
}